services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: cloud123
      POSTGRES_DB: mockdb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
  server:
    build: .
    command: npm run dev
    ports:
      - "8080:8080"
    environment:
      PORT: 8080
      DATABASE_URL: postgres://admin:cloud123@db:5432/mockdb
    depends_on:
      - db
    volumes:
      - .:/app
      - /app/node_modules
  redis:
    image: redis:7
    restart: always
    ports:
      - "6379:6379"
  worker:
    build: .
    command: npx ts-node src/queue/worker.ts
    environment:
      DATABASE_URL: postgres://admin:cloud123@db:5432/mockdb
    depends_on:
      - db
      - redis
    volumes:
      - .:/app
      - /app/node_modules
    
volumes:
  pgdata: